@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;

}

body {
  background-color: black;
  /* width: min-content; */
}

.design-x {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  font-size: 5vw;
}

.line-height {
  line-height: 67px;
}

body::-webkit-scrollbar {
  width: 12px;
}


body::-webkit-scrollbar-thumb {
  background-color: #b81d21;
  border-radius: 6px;
}


body::-webkit-scrollbar-track {
  background-color: black;
}


body::-webkit-scrollbar-corner {
  background-color: black;
}

.select::selection {
  background-color: #b81d21;
  color: white;
}